.App {
  text-align: center;
}

/* HomePage */

.Title {
  margin-left: 15px;
}

.TitleName {
  margin-left: 15px;
}

.GoBackButton {
  margin: 15px 0 5px 15px;
  background-color: rgb(157, 248, 169);
  border-radius: 4px;
}

.GoBackButton:hover,
.GoBackButton:focus {
  cursor: pointer;
  background-color: rgb(146, 240, 232);
}
